*{
	padding: 0px;
	margin: 0px;
}
.main{
	margin: 60px;
}
.header{
	display: flex;
	justify-content: space-between;
}
.name{
	padding-left: 40px;
}
.email{
	margin-right: 150px;
}
.email img{
	width: 30px;
	height: 30px;
}
.email a{
	text-decoration: none;
	color: black;
}
#objective{
	margin-top: 40px; 
}