*{
	padding: 0px;
	margin: 0px;
}
.main{
	margin: 40px;
}
.header{
	display: flex;
	justify-content: space-between;
}
.name{
	padding-left: 40px;
}
.email{
	margin-right: 80px;
}
.email img{
	width: 30px;
	height: 30px;
}
.email a{
	text-decoration: none;
	color: black;
}
#objective{
	margin-top: 40px; 
}
.table{
	border-collapse: collapse;
	margin-top: 40px;
	width: 800px;
	text-align: center;
}
.table tr th{
	padding: 10px;
}
.table tr td{
	padding: 10px;
}
.highlights{
	margin-top: 40px;
}
.highlights ul{
	margin-top: 10px;
}
.highlights ul li{
	margin-left: 20px;
}
.technical{
	margin-top: 40px;
}
.technical .language{
	margin-top: 20px;
	margin-left: 40px;
}
.technical .tools{
	margin-top: 30px;
	margin-left: 40px;
}
.project h2{
	margin-top: 60px;
}
.project .java h3{
	margin-top: 40px;
}
.project .java h3 a{
	text-decoration: none;
	color: black;
}
.java ul li{
	margin-left: 20px;
}

.project .java p{
	margin-top: 20px;
}
.fitness h3 {
	margin-top: 40px;
}
.fitness h3 a{
	text-decoration: none;
	color: black;
}
.fitness p {
	margin-top: 20px;
}
.fitness ul li{
	margin-left: 20px;
}
.game h3 {
	margin-top: 40px;
}
.game h3 a{
	text-decoration: none;
	color: black;
}
.game p{
	margin-top: 20px;
}
.game ul li{
	margin-left: 20px;
}
.python h3{
	margin-top: 40px;
}
.python h3 a{
	text-decoration: none;
	color: black;
}
.python p{
	margin-top: 20px;
}
.python ul li{
	margin-left: 20px;
}
.extra{
	margin-top: 40px;
}
.extra ul{
	margin-top: 20px;
}
.online h3{
	margin-top: 40px;
}
.online ul li{
	margin-left: 20px;
	margin-top: 20px;
}
.extra ul li{
	margin-left: 40px;
}
.personal{
	margin-top: 40px;
}
.personal ul{
	margin-top: 20px;
}
.personal ul li{
	margin-left: 20px;
}

